<div class=" blog-main">
<%= render @blogs%>
    

      <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
      
    </div><!-- /.blog-post -->
    <nav class="blog-pagination">
      <a class="btn btn-outline-primary" href="#">Older</a>
      <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
    </nav>


    </div><!-- /.blog-post -->






