<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">The Bootstrap Blog</h1>
    
    <p class="lead blog-description"><%= link_to ' Write A New Blog', new_blog_path if logged_in?(:site_admin) %></p>
  </div>
</div>
