<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">ycbencheng</h3>
    <nav class="nav nav-masthead">
      <%= nav_helper 'nav-link', 'sapn'%>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</div>