<div class="app-card-container">
  <div class="card">
  <h2>About Me</h2>

  <hr>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag "myface.jpg", width: 200,  alt: "profile image" %>
    </div>

    <div class="col-md-8">
      <p>Ben is a Boyce Avenue fan who loves software development and marketing, in that order.</p>
      
    </div>
  </div>
  </div>
</div>

