
<div class="app-card-container">
  <div class="card">
  <h1>Would you like to work together?</h1>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <h3>Office Address</h3>

      <p>Somewhere in Utah</p>

      <h3>Phone</h3>

      <p><%= number_to_phone "530-329-3680" %></p>

      <h3>Email</h3>

      <p>ycbencheng@gmail.com</p>
    </div>

    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97434.55345517943!2d-111.70894550896817!3d40.25731378833681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d9271930bf1bf%3A0x1d90f12600b556ef!2sProvo%2C+UT!5e0!3m2!1sen!2sus!4v1490103549358" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
 </div>
</div>




